@charset "UTF-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #cacaca;
}

/* header */
#header_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 5;
    color: #fff;
    transition: all .3s;
}
#header_wrap.scroll {
    background: rgba(255,255,255,0.9);
    color: #000;
}
header {
    position: relative;
    margin: 0 5vw;
}
/* header-logo */
.logo {
    position: absolute;
    top: 30px;
    left: 0;
    transition: all .4s;
}
.logo a {
    display: block;
    color: inherit;
    font-weight: normal;
    line-height: 1;
}
.logo01 {
    display: block;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: 5px;
}
.logo02 {
    display: block;
    font-size: 2rem;
    letter-spacing: 3px;
}

/* header-menu */
.menu_container {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
#menu {
    display: inline-block;
}
#menu > li {
    display: inline-block;
    transition: all .3s;
}
#menu > li:hover {
    color: #568EC5;
}
#menu > li > a {
    display: block;
    padding: 15px 20px;
    color: inherit;
}

/* header-search */
.search_container {
    position: absolute;
    right: 100px;
    top: 40px;
}
.search_container:hover input {
    border: 3px solid #568EC5;
}
.search_container:hover a {
    color: #568EC5;
}
.search_container input {
    background: transparent;
    width: 190px;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    border: 3px solid #fff;
    color: inherit;
    transition: all .3s;
}
#header_wrap.scroll .search_container input {
    border: 3px solid #000;
    color: #000;
}
#header_wrap.scroll .search_container:hover input {
    border: 3px solid #568EC5;
}
.search_container a {
    position: absolute;
    font-size: 25px;
    transform: translateX(-40px);
    color: inherit;
    transition: all .3s;
}

/* header-language */
.global_container {
    position: absolute;
    right: 0;
    top: 21px;
}
.global_container a {
    display: block;
    padding: 15px 20px;
    color: inherit;
    font-size: 30px;
    transition: all .3s;
}
.global_container a:hover {
    color: #568EC5;
}
/* header-menu_button */
.m_menuBtn {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    width: 24px;
    height: 24px;
}
.m_menuBtn span {
    width: 100%;
    height: 4px;
    position: absolute;
    background: #fff;
}
#header_wrap.scroll .m_menuBtn span {
    background: #000;
}
.m_menuBtn_line1 {
    top: 5px;
}
.m_menuBtn_line2 {
    top: 14px;
}
.m_menuBtn.on .m_menuBtn_line1 {
    transform: rotate(45deg);
    top: 8px;
}
.m_menuBtn.on .m_menuBtn_line2 {
    transform: rotate(-45deg);
    top: 8px;
}

/* main */
.main_visual {
    background: seagreen;
    width: 100%;
    height: 100vh;
}
.main_visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_text_container {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.main_text {
    color: #fff;
    font-size: 50px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.main_text_diagnosis {
    display: none;
}
.main_text_diagnosis a {}

/* main-contents */
.con1, .con2 {
    width: 1240px;
    margin: 50px auto 30px;
    padding: 30px;
    border: 1px solid #cacaca;
    overflow-x: hidden;
}

/* side_menu */
aside {
    position: fixed;
    left: 60px;
    bottom: 60px;
    z-index: 20000;
}
aside ul {  
    background: #fff;
    border-radius: 50px;
    padding: 20px 0;
    margin-bottom: 10px;
}
aside li {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    text-align: center;
}
aside li:hover img {
    transform: translateY(-10px);
}
aside li:last-child {
    border: none;
}
aside a {
    font-size: 12px;
}
aside img {
    display: block;
    margin: 0 auto;
    transition: all .7s;
}
aside .top {
    display: block;
    width: 110px;
    height: 110px;
    background: linear-gradient(to bottom right, #0053d8, #568EC5);
    border-radius: 50%;
    text-align: center;
}
aside .top a {
    color: #fff;
    line-height: 110px;
}